<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="offerEditForm">
            <p:commandButton id="offerEditButton"
                    value="Edit"
                    rendered="#{not entity0View.editMode}">
                <p:ajax listener="#{entity0View.enableEditMode}" update="@form"/>
            </p:commandButton>
            <p:treeTable id="valueMapTreeTable"
                    value="#{treeCompositeView.createNodes(entity0View.entity1,
                            entity0View.entity1.context,
                            entity0View.entity1.valueMap)}"
                    var="valueMapEntry">
                <p:column headerText="Context" style="width: 20%;">
                    <h:outputText value="#{valueMapEntry.context}"/>
                </p:column>
                <p:column headerText="Value" style="width: 80%;">
                    <h:panelGroup rendered="#{not entity0View.editMode}" layout="block">
                        <h:outputText value="#{treeCompositeApplication.retrieveValueText(valueMapEntry.valueWrapper)}"/>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{entity0View.editMode}" layout="block">
                        <h:panelGroup layout="block"
                                rendered="#{treeCompositeApplication.isDisplayReferenceInput(valueMapEntry.valueWrapper)}">
                            <p:selectOneMenu value="#{valueMapEntry.valueWrapper.selectedEntity1}"
                                    converter="#{treeCompositeApplication.offerTypeConverter}">
                                <f:selectItems value="#{treeCompositeApplication.createReferenceItems()}"
                                        var="offerType"
                                        itemLabel="#{offerType.name}"/>
                                <p:ajax update="@all"
                                        listener="#{treeCompositeView.onOfferTypeChange(valueMapEntry.valueWrapper,
                                                entity0View.entity1,
                                                entity0View.entity1.context)}"/>
                            </p:selectOneMenu>
                        </h:panelGroup>
                        <h:panelGroup layout="block"
                                rendered="#{treeCompositeApplication.isDisplayStringInput(valueMapEntry.valueWrapper)}">
                            <p:inputText id="offerDialogValueMapDataTableInputString"
                                    value="#{valueMapEntry.valueWrapper.theValue}">
                                <p:ajax/>
                            </p:inputText>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:column>
            </p:treeTable>
        </h:form>
    </h:body>
</html>

